.pi-container td {
	background-color: initial;
	padding: 0;
	border: none;
	border-radius: 0;
}

.portable-infobox {
	clear: right;
	float: right;
	padding: 4px;
	margin: 3px;
	width: 300px;
}

.portable-infobox.pi-theme-infobox {
	background-color: #d7e0af;
	border: 1px solid #9a8631;
	font-size: 14px;
	border-radius: 4px;
	text-align: center;
}

.portable-infobox abbr {
	color: #0d688c;
	cursor: help;
	text-decoration-line: underline;
	text-decoration-style: dashed;
	border-bottom: 1px dashed #a50000;
	font-size: 14px;
}
.portable-infobox p,
.portable-infobox a {
	font-size: 14px;
	margin: 0;
}
.pi-title {
	color: #fff7e5;
	background: #c1af69;
	font-weight: normal;
	font-size: 17px;
	padding: 6px;
	text-shadow: 0 1px 11px #230000;
	letter-spacing: .5px;
}
.pi-image {
	display: inline-block;
	padding: 7px;
	margin: 0;
}

.pi-header {
	color: #fff;
	text-shadow: 0 0 2px #10101fa6;
	background: #8c7a38;
	font-weight: normal;
	font-size: 15px;
	padding: 4px;
	letter-spacing: 1.5px;
}
.pi-data {
	display: flex;
	flex-direction: row;
	width: 97%;
	margin: 4px;
	padding: 2px;
}

.pi-data-label {
	font-family: PTSans-NarrowBold;
	font-size: 16px;
	flex-basis: 112px;
	text-align: left;
	letter-spacing: 1px;
}

.pi-data-value {
	/* align-items: center; */
	/* display: flex; */
	flex-basis: 165px;
	/* justify-content: start; */
	line-height: 18px;
	text-align: left;
	padding-left: 10px;
}
.portable-infobox .pi-data-value p img {
	display: inline;
}
.pi-data-img {
	display: inline-block;
	margin-bottom: -2px;
}