.container-portable-nfobox {
	overflow: hidden;
}
.pi-container td {
	background-color: initial;
	padding: 0;
	border: none;
	border-radius: 0;
}
.portable-infobox {
	clear: right;
	float: right;
	padding: 4px;
	margin: 3px;
	width: 300px;
}
.container-portable-nfobox .portable-infobox {
	clear: left;
	display: inline-block;
	float: none;
	width: 250px;
	max-width: 3000px;
}
.portable-infobox.pi-theme-infobox {
	background-color: #d7e0af;
	border: 1px solid #9a8631;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
}
.portable-infobox abbr {
	border-bottom: 1px dashed #a50000;
	color: #0d688c;
	cursor: help;
	font-size: 14px;
	text-decoration-line: underline;
	text-decoration-style: dashed;
}
.portable-infobox p,
.portable-infobox a {
	font-size: 14px;
	margin: 0;
}
.pi-title {
	background-color: #c1af69;
	padding: 6px;
	position: relative;
}
.pi-title > span:nth-child(1) {
	color: #fff7e5;
	font-weight: normal;
	font-size: 16px;
	text-shadow: 0 1px 11px #230000ad;
	letter-spacing: .5px;
}
.pi-title > span:nth-child(2) {
	background-color: #f0f8ff8a;
	box-shadow: -1px 1px 5px 0px #0000009c;
	color: #5d4102;
	font-size: 13px;
	font-weight: normal;
	position: absolute;
	right: 0%;
	top: 1%;
	text-shadow: 1px 2px 3px #4c301438;
	transition: .2s ease-in 0s;
	padding: 1px 3px 3px 3px;
	border-radius: 4px;
}
.pi-title > span:nth-child(2):hover {
	background-color: #6b5e2f;
	padding: 2px 4px;
	border-radius: 5px;
	color: #00fdff;
	cursor: help;
	top: 14%;
	font-size: 20px;
	text-decoration: underline;
	text-shadow: 0 0 16px #132ab3, 0 0 1px #ffffff9c;
}
.pi-image {
	display: inline-block;
	padding: 7px;
	margin: 0;
}
.pi-image img:first-child {
	margin-right: 10px;
}

.pi-header {
	background-color: #8c7a38;
	color: #fff;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 1.5px;
	padding: 4px;
	margin: 0 1px;
	text-shadow: 0 0 2px #10101fa6;
}
.pi-data {
	display: flex;
	flex-direction: row;
	margin: 4px;
	padding: 2px;
	width: 97%;
}

.pi-data-label {
	font-family: PTSans-NarrowBold;
	font-size: 15px;
	flex-basis: 112px;
	letter-spacing: 0.6px;
	text-align: left;
}

.pi-data-value {
	flex-basis: 165px;
	line-height: 18px;
	text-align: left;
	padding-left: 10px;
}
.pi-data-value ul {
	margin: 0;
	padding-left: 15px;
}
.pi-data-value span > img,
.pi-data-value p > img {
	margin-left: 3px;
}
.pid-value-hint {
	border-bottom: 1px dashed #f00;
	cursor: help;
}
.pid-value-hint:hover {
	border-bottom: 3px dashed #9a6700;
	color: #b32200;
}
.pi-data-img {
	display: inline-block;
	margin-bottom: -2px;
}

.pi-data-list {
	list-style: none;
	padding: 1px;
	margin: 0;
}