html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #248290; 
	font-family: PTSans-NarrowBold;
	position: relative;
}

header {
	background-color: #efba7b;
}

.top-bar {
	display: flex;
}

.bar-caption-book {
	margin-right: 12px;
	padding: 0 10px;
}

.bar-caption-book h1 {
	color: #b2ff00e6;
	text-shadow: -1px 2px 5px #000000bd,
		1px -2px 13px #73636394;
	letter-spacing: 2px;
	font-size: 50px;
	margin: 5px 0;
}

.bar-caption-page {
	padding: 5px;
}

.bar-caption-page h2 {
	color: #ffe4c4;
	font-size: 30px;
	letter-spacing: 0.5px;
	text-shadow: -2px 1px 5px #000000a8;
	text-align: center;
	margin: 11px 0;
}


main {
	padding: 6px 15px;
}

.main-inner-box {
	display: flex;
	flex-direction: row;
}

.m-navigation-sidebar,
.m-fag-content {
	padding: 2px 2px 2px 2px;
}

.m-navigation-sidebar {
	background-color: #ffc887;
	margin-left: 3px;
	border-radius: 3px;
	height: inherit;
	/* flex-basis: 400px; */
	width: 300px;
	min-width: 300px;
}

.m-navigation-sidebar > h3,
.m-fag-content > h3 {
	margin: 2px;
	padding: 6px 2px;
}

.m-navigation-sidebar > h3 {
	text-align: center;
	background-color: #248290;
	color: #faebd7;
	letter-spacing: 1.7px;
}

.navigation-box {
	margin-right: 3px;
}

Ñ.navigation-list-question {
	padding-left: 26px;
	list-style-position: outside;
	list-style-type: square;
	margin: 6px 3px;
}

.list-question a {
	color: #584f47;
	font-size: 16px;
	letter-spacing: 1px;
	text-decoration: none;
}

.list-question {
	padding: 4px;
	transition: all .3s ease-in-out 0s;
}

.list-question:hover {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 2px 0 #000;
}

.list-question:hover a {
	color: #000;
	text-decoration-line: underline;
	text-shadow: 0 0 1px #0000002e;
}
.list-question > a.active {
	color: #1c8894fa;
	text-shadow: 0 0 5px #b380476b;
}

.m-fag-content {
	padding-left: 20px;
}
.m-fag-content article {
	display: inline-block;
	margin: 2px 0;
}
h3.accordion {
	color: #00c2ff;
	padding: 10px 18px;
	text-shadow: 0 0 14px #000;
	letter-spacing: 0.6px;
	background-color: #5f9ea0;
	box-shadow: -5px 0 3px 0px #3f7879;
	border-radius: 4px;
	margin: 0;
	transition: all .13s ease-out 0.1s;
}
h3.accordion.active,
h3.accordion:hover {
	color: #fff;
	cursor: pointer;
}

.list-answer {
	/* display: none; */
	background-color: #fff1cb;
	border-radius: 2px;
	list-style: none;
	max-height: 0px;
	margin: 0px 15px -3px 15px;
	opacity: 0;
	overflow: hidden;
	padding: 2px 10px;
	transition: opacity .4s ease-in-out .13s,
		max-height .4s ease .05s;
}
.list-answer.show {
	display: block;
	opacity: 1;
	max-height: 600px;
	transition: opacity .4s ease-in-out .1s,
		max-height .4s ease-in .03s;
}

.list-answer p {
	margin: 10px 0px;
	font-size: 18px;
	font-family: Arial Narrow;
	font-weight: normal;
}
.list-answer li {
	color: #6f470c;
	font-family: monospace;
	font-size: 14px;
	padding: 1px 0px;
}

.gallery {
	display: flex;
	align-items: center;
	justify-content: center;
  flex-wrap: wrap;
}
.gallery-box {
	display: inline-block;
	margin: 10px 25px;
}
.gallery-box img {
	cursor: pointer;
	width: 250px;
	transition: all 0.9s ease-out 0.05s;
}
.gallery-box > img:active {
	transform: scale(4.3);
	position: absolute;
	right: 500px;
	top: 260px;
	padding: 2px;
	background-color: #ffffffcf;
	border-radius: 2px;
}
.gallery-box figcaption {
	text-align: center;
	color: #8e827a;
}