.table {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.aside__t-terraria {
	background-color: #5dbf9eba;
	border: 1px solid #3bab9f;
	padding: 2px;
}

.terraria {
	border-radius: 0 0 4px 4px;
	margin: 4px;
}

.terraria > caption {
	color: #000;
	border-radius: 6px 6px 0 0;
	background: #6cb5c1;
	font-size: 17px;
	text-shadow: 0 0 16px #fff;
	padding: 6px;
}


th, td {
	border-radius: 3px;
	border: 1px solid #0000003b;
	padding: 1px;
}

th {
	background-color: #93bdb5;
	color: #063c42;
	text-shadow: none;
}

td {
	background-color: #a0d5da;
	font-size: 15px;
}

td > img {
	margin: auto;
}

.article__container {
	/* background: #b2e1e4; */
	/* border-radius: 12px; */
}

.article__container ul {
	list-style-image: none;
}

.section__inner-box, .aside {
	background: #fff6b86e;
	border-radius: 6px;
	box-shadow: -1px 1px 6px 0 #000000d1, inset -1px 0px 0px 0px #00000087;
	padding: 15px 20px;
	margin: 7px 15px 15px 15px;
}

.aside__grid b {
	color: #a52a2a;
	font-family: OpenSansLight-Italic;
	font-size: 18px;
	font-weight: bold;
}

.aside__grid p > b {
	color: #275d5f;
}

.aside__grid p {
	font-size: 17px;
	line-height: 21px;
	margin: 7px 15px;
}

.desc-lang-en {
	color: chocolate;
	text-shadow: -1px 1px 8px #000;
	letter-spacing: 2px;
}

.aside__grid p > a {
	color: #326b00;
  text-decoration: none;
  text-shadow: 0 0 0 #000000a6;
  letter-spacing: 0.1px;
  font-family: Ubuntu;
  font-size: 16px;
}
.aside__grid .aside__img-left {
  float: left;
}

.aside__grid .aside__img-right {
	float: right;
}

.aside__img-left,
.aside__img-right {
  background-image: radial-gradient(circle farthest-side, #9a7728, #ffffff 208px);
  border-radius: 11px;
  margin-right: 8px;
  padding: 3px;
}

.aside__tips-tricks-box {
	margin: 36px 22px 31px 22px;
}

.aside__tips-tricks-box > h3 {
  background-color: #45bcc5;
  box-shadow: 0 0 12px 1px #00000063;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 1px;
  padding: 0px 9px 8px 9px;
}

.aside__tips-tricks-box h3 > span {
	color: #0d686f;
	font-size: 26px;
	font-weight: bold;
	font-family: OpenSansLight-Italic;
	letter-spacing: 1px;
	text-shadow: -2px 1px 0px #000000c4;
	border-bottom: 2px solid #0a3a3e;
	padding-bottom: 2px;
}

.aside__tips-tricks-box > p {
	background-color: #e6bb7a;
	box-shadow: 0 7px 19px -5px #000000b5;
	border-radius: 3px 3px 9px 9px;
	padding: 10px;
	text-align: center;
	margin: 0 8px;
}

.aside__tips-tricks-box > p > a {
	color: #a92424;
	font-weight: bold;
	text-shadow: none;
}

.aside__tips-tricks-box > p > a:hover {
	text-decoration: underline;
}

.aside__tips-tricks-box > p > a:visited {
	color: #484141;
}

.aside__container--grid {
	box-shadow: 0 4px 7px -5px #000;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 12px;
	padding-bottom: 6px;
}

.img__box-row {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.img__content {
	margin: 5px;
	padding: 3px;
}

.img__content > img {
	margin: auto;
}

.img__content-col {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 6px 8px 0 10px;
}

.img__content-col > img {
	margin-bottom: 0;
}

.img__content > h4 {
	color: #1d6d6f;
	margin-top: 8px;
}

.list-container {
	/* width: fit-content; */
	/* box-shadow: 0 0 3px 0 #000; */
	/* border-radius: 8px; */
	/* background: #b0d0ca; */
	/* padding: 1px 2px 1px 14px; */
}

.list-number,
.list-item {
	background: #d7ecbc;
	box-shadow: 0 0 10px -2px #000;
	border-radius: 14px;
	padding: 16px 25px 21px 30px;
	width: fit-content;
}