/** Modal Window **/
.modal-window--container {
	display: block;
	top: -114%;
	left: 120%;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 3;
	opacity: 0;
	transition: top 0.2s ease-in-out 0s,
		left .2s ease-in-out 0s,
		opacity 0.6s ease-in-out 0.2s;
}
.mw--inner-box {
	position: fixed;
	background-color: #4c787bf5;
	border-radius: 10px;
	padding: 5px;
	width: 99%;
	height: 97%;
	box-shadow: 0 0 0 120px #000000b0;
}

.modal__iframe {
	border: none;
	border-radius: 10px;
	width: 100%;
	height: 100%;
}
#mw-btn {
	position: fixed;
	top: 48px;
	right: 2px;
	background-image: url("../../assets/image-icon-obj/ic_radio_button_unchecked_black_24dp.png");
	background-size: 33px;
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;
	background-color: #7be0e8;
	border-radius: 25px;
	border: none;
	padding: 0;
	margin: 0;
	transition: background .5s ease-in-out 0s;
	z-index: 10;
	outline: none;
}
#mw-btn:focus {
	animation: Scale .5s ease-in-out alternate forwards;
}
.show {
	opacity: 1;
	top: 1.5%;
	left: .4%;
}

@keyframes Scale {
	to {
		background-image: url("../../assets/image-icon-obj/ic_radio_button_checked_black_24dp.png");
		background-color: #c8cfd0;
		transform: rotateY(0deg);
	}
	from {
		transform: rotateY(180deg);
	}
}
/** END Modal Window **/

.table {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.article__t-terraria {
	background-color: #5dbf9eba;
	border: 1px solid #3bab9f;
	padding: 2px;
}

.terraria {
	border-radius: 0 0 4px 4px;
	margin: 4px;
}

.terraria > caption {
	color: #000;
	border-radius: 6px 6px 0 0;
	background: #6cb5c1;
	font-size: 17px;
	text-shadow: 0 0 16px #fff;
	padding: 6px;
}


th, td {
	border-radius: 3px;
	border: 1px solid #0000003b;
	padding: 1px;
}

th {
	background-color: #93bdb5;
	color: #063c42;
	text-shadow: none;
}

/* tr > td:first-child {
	background: #9ebec5;
} */

td {
	background-color: #a0d5da;
	font-size: 15px;
	text-align: center;
}

td > img {
	margin: auto;
}

.article__content-box {
	background: #f0ffff;
	box-shadow: inset 0 0 6px 1px #000000c9;
	border-radius: 7px;
	padding: 4px;
	margin: 10px 0;
}

.article__title-text {
	background: #7ccbd4;
	border-radius: 6px;
	box-shadow: inset 0 0 2px 0 #653f13, 0 6px 12px 0 #61abc5;
	padding: 3px;
}

.article__container ul {
	list-style-image: none;
}

.article__inner-box {
	background: #fff6b86e;
	border-radius: 6px;
	box-shadow: -1px 1px 6px 0 #000000d1, inset -1px 0 0 0 #00000087;
	padding: 6px 5px;
	margin: 4px 6px 5px 5px;
}

.article__inner-box b {
	color: #a52a2a;
	font-family: OpenSansLight-Italic;
	font-size: 18px;
	font-weight: bold;
}

.article__inner-box p > b {
	color: #275d5f;
}

.article__inner-box p {
	font-size: 17px;
	line-height: 21px;
	margin: 7px 15px;
}

.article__inner-box > p {
	display: inline-block;
}


.article__inner-box p > a {
	color: #8c4316;
	text-decoration: none;
	text-shadow: 0 0 23px #00000070;
	letter-spacing: 0.1px;
	font-family: Ubuntu;
	font-size: 18px;
	transition: all .3s;
}

.article__inner-box p > a:hover {
	color: #89902d;
	text-decoration: underline;
	text-shadow: none;
}

.article__inner-box > p > img {
	display: inline-block;
}

.article__head-subtitle {
	border-bottom: 1px solid #63a4bd;
	text-align: left;
	margin: 13px 0 2px;
	padding: 5px 15px;
}

.head-subtitle {
	color: #596b6b;
	font-family: PTSans-NarrowBold;
	font-size: 22px;
	letter-spacing: 1px;
}

.desc-lang-en {
	color: chocolate;
	text-shadow: -1px 1px 8px #000;
	letter-spacing: 2px;
}

.img-float-left,
.img-float-right {
	background-image: radial-gradient(circle farthest-side, #9a7728, #ffffff 208px);
	border-radius: 5px;
	box-shadow: 0 0 2px 1px #000000b5;
	margin: 10px;
	padding: 3px;
}

.img-float-left,
.list-item li a > img {
  float: left;
}

.img-float-right {
	float: right;
}

/** Block of comments **/
.aside__tips-tricks-box {
	margin: 36px 22px 31px 22px;
}

.aside__tips-tricks-box > h3 {
  background-color: #45bcc5;
  box-shadow: 0 0 12px 1px #00000063;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 1px;
  padding: 0 9px 8px 9px;
}

.aside__tips-tricks-box h3 > span {
	color: #0d686f;
	font-size: 26px;
	font-weight: bold;
	font-family: OpenSansLight-Italic;
	letter-spacing: 1px;
	text-shadow: -2px 1px 0 #000000c4;
	border-bottom: 2px solid #0a3a3e;
	padding-bottom: 2px;
}

.aside__tips-tricks-box > p {
	background-color: #e6bb7a;
	box-shadow: 0 7px 19px -5px #000000b5;
	border-radius: 3px 3px 9px 9px;
	padding: 10px;
	text-align: center;
	margin: 0 8px;
}

.aside__tips-tricks-box > p > a {
	color: #a92424;
	font-weight: bold;
	text-shadow: none;
}

.aside__tips-tricks-box > p > a:hover {
	text-decoration: underline;
}

.aside__tips-tricks-box > p > a:visited {
	color: #484141;
}
/** End Block of comments **/

/* .aside__container--grid {
	box-shadow: 0 4px 7px -5px #000;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 12px;
	padding-bottom: 6px;
} */

/** Image container **/
.img__box-row {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.img__container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 20px 8px;
}

.img__content > img {
	margin: auto;
}

.img__big {
	width: 100%;
}

.img__content > figcaption {
	color: #1d6d6f;
	margin-top: 8px;
	text-align: center;
}

.img__content-col {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 6px 8px 0 10px;
}

.img__content-col > img {
	margin-bottom: 0;
}

/** End Image container **/

/** Container Lists **/
.list-container > img {
	margin-right: 25px;
}

.list-container li {
	list-style-image: none;
}

.list-objects {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px 0 10px;
}

.list-objects li {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 10px;
	width: 25%;
}

.list-objects li img {
	float: left;
	padding-right: 6px;
}

.list-number,
.list-item,
.list-item__li-img {
	background: #d7ecbc;
	box-shadow: 0 0 10px -2px #000;
	border-radius: 14px;
	padding: 16px 25px 21px 30px;
	width: fit-content;
}
.list-item {
	width: 95%;
	margin: 0 auto;
}

.list-item__li-img > li img {
	float: left;
	margin-right: 3px;
}

.list-item__li-img > li {
	margin: 6px 0;
}

/** End Container Lists **/

b.Ñongratulations-text {
	text-decoration: underline;
}

/** Sidebar Navigation Page **/
.sidebar-bfl {
	position: relative;
}

.nav__by-page {
	position: fixed;
	left: -216px;
	top: 63px;
	border-radius: 4px;
	transition: all 1s ease 0.3s;
	width: 250px;
	z-index: 2;
}

.nav__title-text {
	background: #27ce4c;
	margin-bottom: 4px;
	transition: background .3s ease .2s;
	animation: randomColor 3s ease-in-out infinite;
}

.nav__title-text > .title-text {
	color: #85ffa6;
	background: none;
	border-radius: 0;
  text-shadow: -1px 2px 2px #1e6328;
}

.nav__page-list-links {
	box-shadow: 0 0 3px 0 #000;
	background: #b2ece8;
	border-radius: 6px;
	padding: 5px 5px 5px 27px;
	width: 243px;
	margin: 3px;
	opacity: 0;
	transition: opacity .6s ease .2s;
}

.nav__by-page:hover {
	background: #85c5c3c7;
	border-radius: 6px;
	left: 0;
	height: fit-content;
}

.nav__by-page:hover .nav__title-text {
	animation: none;
	background: #37a99f;
}

.nav__by-page:hover .nav__page-list-links {
	opacity: 1;
}

.pli-item {
	list-style-image: none;
}

.pli-item a {
	color: #024352;
	transition: color .4s ease 0s;
}

.pli-item a:hover {
	color: black;
	text-decoration-line: underline;
}

@keyframes randomColor {
	to {
		background: #27ce4c;
	}

	from {
		background: #37a99f;
	}
}

/** End Sidebar Navigation Page **/

/** Scroll bar **/
::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #75969E;
  border-radius: 6px;
  box-shadow: inset -3px 0 7px 0 #8AB2BC;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #006577;
  box-shadow: inset 0 0 3px 1px #489D9C;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoyRDQ1RDVFRjVBMTYxMUU1QkFDMUNGNTcxNDI4QUI5OSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoyRDQ1RDVGMDVBMTYxMUU1QkFDMUNGNTcxNDI4QUI5OSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjJENDVENUVENUExNjExRTVCQUMxQ0Y1NzE0MjhBQjk5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjJENDVENUVFNUExNjExRTVCQUMxQ0Y1NzE0MjhBQjk5Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+BWJJWgAAACFJREFUeNpi/P//PwMuwAIiGBkZjdElgJrOMg42nQABBgCZ4hgFtlVPowAAAABJRU5ErkJggg==');
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 11px;
}

/** END Scroll bar **/


@media (min-width: 768px) and (max-width: 991px) {
	.img__container {
		display: flex;
		flex-wrap: wrap;
	}
}