.table {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.article__t-terraria {
	background-color: #5dbf9eba;
	border: 1px solid #3bab9f;
	padding: 2px;
}

.terraria {
	border-radius: 0 0 4px 4px;
	margin: 4px;
}

.terraria > caption {
	color: #000;
	border-radius: 6px 6px 0 0;
	background: #6cb5c1;
	font-size: 17px;
	text-shadow: 0 0 16px #fff;
	padding: 6px;
}


th, td {
	border-radius: 3px;
	border: 1px solid #0000003b;
	padding: 1px;
}

th {
	background-color: #93bdb5;
	color: #063c42;
	text-shadow: none;
}

td {
	background-color: #a0d5da;
	font-size: 15px;
	text-align: center;
}

td > img {
	margin: auto;
}

.article__content-box {
	background: #f0ffff;
	box-shadow: inset 0 0 6px 1px #000000c9;
	border-radius: 7px;
	padding: 4px;
	margin: 10px 0;
}

.article__title-text {
	background: #7ccbd4;
	border-radius: 6px;
	box-shadow: inset 0 0 2px 0 #653f13, 0 6px 12px 0 #61abc5;
	padding: 3px;
}

.article__container ul {
	list-style-image: none;
}

.article__inner-box {
	background: #fff6b86e;
	border-radius: 6px;
	box-shadow: -1px 1px 6px 0 #000000d1, inset -1px 0 0 0 #00000087;
	padding: 6px 5px;
	margin: 4px 6px 5px 5px;
}

.article__inner-box b {
	color: #a52a2a;
	font-family: OpenSansLight-Italic;
	font-size: 18px;
	font-weight: bold;
}

.article__inner-box p > b {
	color: #275d5f;
}

.article__inner-box p {
	font-size: 17px;
	line-height: 21px;
	margin: 7px 15px;
}

.article__inner-box > p {
	display: inline-block;
}

.desc-lang-en {
	color: chocolate;
	text-shadow: -1px 1px 8px #000;
	letter-spacing: 2px;
}

.article__inner-box p > a {
	color: #8c4316;
	text-decoration: none;
	text-shadow: 0 0 23px #00000070;
	letter-spacing: 0.1px;
	font-family: Ubuntu;
	font-size: 18px;
	transition: all .3s;
}

.article__inner-box p > a:hover {
	color: #89902d;
	text-decoration: underline;
	text-shadow: none;
}

.article__inner-box > p > img {
	display: inline-block;
}

.img-float-left,
.img-float-right {
	background-image: radial-gradient(circle farthest-side, #9a7728, #ffffff 208px);
	border-radius: 5px;
	box-shadow: 0 0 2px 1px #000000b5;
	margin: 10px;
	padding: 3px;
}

.img-float-left,
.list-item li a > img {
  float: left;
}

.img-float-right {
	float: right;
}

/** Block of comments **/
.aside__tips-tricks-box {
	margin: 36px 22px 31px 22px;
}

.aside__tips-tricks-box > h3 {
  background-color: #45bcc5;
  box-shadow: 0 0 12px 1px #00000063;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 1px;
  padding: 0 9px 8px 9px;
}

.aside__tips-tricks-box h3 > span {
	color: #0d686f;
	font-size: 26px;
	font-weight: bold;
	font-family: OpenSansLight-Italic;
	letter-spacing: 1px;
	text-shadow: -2px 1px 0 #000000c4;
	border-bottom: 2px solid #0a3a3e;
	padding-bottom: 2px;
}

.aside__tips-tricks-box > p {
	background-color: #e6bb7a;
	box-shadow: 0 7px 19px -5px #000000b5;
	border-radius: 3px 3px 9px 9px;
	padding: 10px;
	text-align: center;
	margin: 0 8px;
}

.aside__tips-tricks-box > p > a {
	color: #a92424;
	font-weight: bold;
	text-shadow: none;
}

.aside__tips-tricks-box > p > a:hover {
	text-decoration: underline;
}

.aside__tips-tricks-box > p > a:visited {
	color: #484141;
}
/** End Block of comments **/

/* .aside__container--grid {
	box-shadow: 0 4px 7px -5px #000;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 12px;
	padding-bottom: 6px;
} */

/** Image container **/
.img__box-row {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.img__container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 20px 8px;
}

.img__content > img {
	margin: auto;
}

.img__content > figcaption {
	color: #1d6d6f;
	margin-top: 8px;
	text-align: center;
}

.img__content-col {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 6px 8px 0 10px;
}

.img__content-col > img {
	margin-bottom: 0;
}

/** End Image container **/

/** Container Lists **/
.list-container > img {
	margin-right: 25px;
}

.list-container li {
	list-style-image: none;
}

.list-number,
.list-item,
.list-item__li-img {
	background: #d7ecbc;
	box-shadow: 0 0 10px -2px #000;
	border-radius: 14px;
	padding: 16px 25px 21px 30px;
	width: fit-content;
}

.list-item__li-img > li img {
	float: left;
	margin-right: 3px;
}

.list-item__li-img > li {
	margin: 6px 0;
}

/** End Container Lists **/

b.Ñongratulations-text {
	text-decoration: underline;
}

/** Sidebar Navigation Page **/
.sidebar-bfl {
	position: relative;
}

.nav__by-page {
	position: fixed;
	left: -216px;
	top: 63px;
	border-radius: 4px;
	transition: all 1s ease 0.3s;
	width: 250px;
	z-index: 2;
}

.nav__title-text {
	background: #27ce4c;
	margin-bottom: 4px;
	transition: background .3s ease .2s;
	animation: randomColor 3s ease-in-out infinite;
}

.nav__title-text > .title-text {
	color: #85ffa6;
	background: none;
	border-radius: 0;
  text-shadow: -1px 2px 2px #1e6328;
}

.nav__page-list-links {
	box-shadow: 0 0 3px 0 #000;
	background: #b2ece8;
	border-radius: 6px;
	padding: 5px 5px 5px 27px;
	width: 243px;
	margin: 3px;
	opacity: 0;
	transition: opacity .6s ease .2s;
}

.nav__by-page:hover {
	background: #85c5c3c7;
	border-radius: 6px;
	left: 0;
	height: fit-content;
}

.nav__by-page:hover .nav__title-text {
	animation: none;
	background: #37a99f;
}

.nav__by-page:hover .nav__page-list-links {
	opacity: 1;
}

.pli-item {
	list-style-image: none;
}

.pli-item a {
	color: #024352;
	transition: color .4s ease 0s;
}

.pli-item a:hover {
	color: black;
	text-decoration-line: underline;
}

@keyframes randomColor {
	to {
		background: #27ce4c;
	}

	from {
		background: #37a99f;
	}
}

/** End Sidebar Navigation Page **/